#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 440px;
  padding: 24px;
}
#categories .item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 8px;
  background-color: #f6f6fe;
}
#categories .item > h2 {
  color: #2e2f42;
  font-weight: 600;
  font-size: 24px;
  font-family: var(--font-family);
  line-height: 1.33333;
  letter-spacing: 0.04em;
}
#categories .item > ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#categories .item > ul > li {
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  color: #2e2f42;

  font-size: 16px;
  font-family: var(--font-family);
  line-height: 1.5;
  letter-spacing: 0.04em;
}
